body {
    background-color: #F8F9FA; /* 쿨 화이트 */
    font-family: 'Pretendard', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    color: #333;
}

.loader {
    border: 8px solid #f3f3f3; /* Light Grey */
    border-top: 8px solid #AEE5D8; /* Pastel Mint */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    font-size: 21px;
    font-weight: 700; /* Bold */
    color: #555;
}